:root {
  --paper-light: #d8b38a;
  --paper-dark: #c89c72;
  --seal: #a86d3c;
}

* {
  box-sizing: border-box;
}

.envelope {
  z-index: 9999;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f1e2cf;
  transition: opacity 1.8s ease;
}

.envelope.fade-out {
  opacity: 0;
}

/* -------------------- */
/* TRIÁNGULO SUPERIOR   */
/* -------------------- */

.top {
  position: absolute;
  inset: 0;

  background: #d5b28a;

  clip-path: polygon(
    0 0,
    100% 0,
    50% 75%
  );

  z-index: 3;

  transition: transform 1.2s ease;
}

/* -------------------- */
/* TRIÁNGULO INFERIOR   */
/* -------------------- */

.bottom {
  position: absolute;
  inset: 0;

  background: #c79d73;

  clip-path: polygon(
    0 100%,
    100% 100%,
    50% 25%
  );

  z-index: 2;

  transition: transform 1.2s ease;
}

/* -------------------- */
/* SELLO                */
/* -------------------- */

.seal {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  border: none;
  border-radius: 50%;
  color: white;

  cursor: pointer;

  z-index: 10;

  transition:
    opacity .5s ease,
    transform .5s ease;
}
.seal img {
  width: 65%;

}

/* -------------------- */
/* ESTADO ABIERTO       */
/* -------------------- */

.open .top {
  transform: translateY(-100%);
}

.open .bottom {
  transform: translateY(100%);
}

.open .seal {
  opacity: 0;
  pointer-events: none;
}

