.doors-overlay {
    position: fixed;
    inset: 0;

    z-index: 9999;

    overflow: hidden;

    cursor: pointer;

    background: white;
}

.seal {
    z-index: 99999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
}
.seal img {
  width: 10%;
}
/* CONTENIDO REAL */

.invitation-content {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

/* PUERTAS */

.doors {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.doors {
  position: absolute;
  inset: 0;
  z-index: 10;

  perspective: 2500px;
  transform-style: preserve-3d;
}

.left {
  left: 0;
  transform-origin: left center;
  background-image: url("../../../public/img/masia.webp");
  background-size: max(100vw, calc(100vh * 1537 / 1023)) auto;
  background-position: calc(50vw - max(50vw, calc(50vh * 1537 / 1023))) center;
}

.right {
  right: 0;
  transform-origin: right center;
  background-image: url("../../../public/img/masia.webp");
  background-size: max(100vw, calc(100vh * 1537 / 1023)) auto;
  background-position: calc(-1 * max(50vw, calc(50vh * 1537 / 1023))) center;
}

.open .left {
  transform: rotateY(-180deg);
  opacity: 0;
}

.open .right {
  transform: rotateY(180deg);
  opacity: 0;
}

.open .seal {
  opacity: 0;
  transition: 1s;
}


.door {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;

  backface-visibility: hidden;
  transform-style: preserve-3d;

  transition:
    transform 1.8s cubic-bezier(.75,0,.25,1),
    opacity 1.8s ease;
}