.doors-overlay {
    position: fixed;
    inset: 0;

    z-index: 9999;

    overflow: hidden;

    cursor: pointer;

    background: white;
}

.seal {
    z-index: 99999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
}
.seal img {
  width: 10%;
}
/* CONTENIDO REAL */

.invitation-content {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

/* PUERTAS */

.doors {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.door {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;

  transition:
    transform 1.8s cubic-bezier(.75,0,.25,1),
    opacity 1.8s ease;
}

.left {
  left: 0;
  transform-origin: left center;
  background-image: url("../../../public/img/masia.png");
  background-size: 200% 100%;
  background-position: left center;
}

.right {
  right: 0;
  transform-origin: right center;
  background-image: url("../../../public/img/masia.png");
  background-size: 200% 100%;
  background-position: right center;
}

.open .left {
  transform:
    rotateY(-80deg)
    translateX(-20%);
  opacity: 0;
}

.open .seal {
  opacity: 0;
  transition: 1s;
}

.open .right {
  transform:
    rotateY(80deg)
    translateX(20%);
  opacity: 0;
}

