@import "tailwindcss";

@font-face {
  font-family: 'DancingScript';
  src: url('./assets/fonts/DancingScript/DancingScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}